body{
	background-color: lightgrey;
}
h1{
	font-size: 30px;
	color: #47D6CF; /*codigo de html*/
}
h2{
	font-size: 20px;
	color: salmon;
}
h2{
	color: #EF5553; /*este color se sobrepone al anterior*/
}
.big{
	font-size: 60px
}
.uppercase{
	text-transform: uppercase;
}
.big.uppercase{
	color:navy;
}
h1 span{
	color:violet;
}